HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-check-report.html

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Ignore Maven / Gradle build directories
/target/
/build/

# Ignore dependencies
.mvn/
.gradle/
!gradle-wrapper.jar  # Keep the Gradle wrapper


# Keep Maven wrapper files (needed for CI)
!.mvn/
!.mvn/wrapper/maven-wrapper.properties

# Ignore IntelliJ IDEA specific files
/.idea/
/*.iml
/*.ipr
/*.iws
.idea/


# Ignore Eclipse specific files
/.settings/
/.project
/.classpath

# Ignore VS Code settings
/.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs and runtime files
/logs/
/*.log
hs_err_pid*
ajcore.*

# Ignore compiled Java classes
/**/*.class
/**/*.war
/**/*.jar

*.jar
*.war
*.ear
*.zip
*.tar.gz

# Ignore environment variables and sensitive data
.env
.env.local
.env.prod
.env.staging
.env.test
application-dev.properties
application-prod.properties
application-test.properties
application-api.properties
application.properties

application-*.yml
application.yml
application-dev.yml
application-prod.yml
application-test.yml
application-api-tests.yml

!src/main/resources/application-test.yml
!src/main/resources/application-api-tests.yml
!src/main/resources/application-staging.yml
!src/test/resources/application-test.yml
!src/test/resources/application-api-tests.yml

config/*.properties
config/*.yml

# Ignore database files
/h2.db
/data/
/volume/cache/
/performance/results/
*.sqlite

# Ignore Docker related files
docker-compose.override.yml

# Ignore generated files
/.cache/
/out/

# --- Allure Reports ---
allure-results/
allure-report/
target/allure-results/
target/site/allure-maven-plugin/
.allure/
